.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  color: red;
}

.errorInput {
  border: 1px solid red;
}

.activeButton {
  background-color: aquamarine;
}

.isDone {
  color: dimgray;
  text-decoration: line-through;
}
